.home {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
